@import "config";

.grid {
      max-width: 1200px;
      margin: 0 auto;
      padding-left: $gutter;
      padding-right: $gutter;

      @media (min-width: 1199px) {
        padding: 0;
      }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5*$gutter;
  margin-right: -0.5*$gutter;
}

.col {
  padding-left: 0.5*$gutter;
  padding-right: 0.5*$gutter;
}

.col12 {
  width: 100%;
}

.col6 {
  width: 50%;
}

.col4 {
  width: 33.333%;
}

.col3 {
  width: 25%;
}

.offset6 {
  margin-left: 50%;
}

.offset4 {
  margin-left: 33.333%;
}

.offset2 {
  margin-left: 16.6665%;
}

.offset0 {
  margin-left: 0;
}



@media (min-width: 640px) {
      .colBig12 {
        width: 100%;
      }

      .colBig8 {
        width: 66.666%;
      }

      .colBig6 {
        width: 50%;
      }

      .colBig4 {
        width: 33.333%;
      }

      .colBig3 {
        width: 25%;
      }

      .colBig2 {
        width: 16.666%;
      }

      .offsetBig4 {
        margin-left: 33.33%;
      }

      .offsetBig2 {
        margin-left: 16.666%;
      }
}

@media (min-width: 951px) {

      .colBigger6 {
        width: 50%;
      }

      .colBigger4 {
        width: 33.333%;
      }

      .colBigger3 {
        width: 25%;
      }

      .offsetBigger2 {
        margin-left: 16.666%;
      }
}
