@import "config";

.box {
  text-decoration: none;
}

.buttons {
  padding: 2*$gutter;
  text-align: center;

  &__button {
    height: 3*$gutter;
    padding: 0.5*$gutter;
    margin: 0.5*$gutter;
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: bold;
    background-color: $lightgrey;
    border: 0 solid;
    border-radius: 10px;
    transition: background-color  300ms ease-in-out 0s;
  }

  &__button__selected {
    background-color: $lime;
    transition: background-color  300ms ease-in-out 0s;
  }
}

.lectures {
  &__title {
    padding-bottom: $gutter;
    padding-left: 0.5*$gutter;
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: bold;
    color: $black;
    background-color: $lightgrey;
  }

  &__type {
    padding-top: 0.5*$gutter;
    padding-left: 0.5*$gutter;
    font-family: $font-heading;
    font-size: 1rem;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $lightgrey;
  }

  &__thumbnail {
    margin-top: 2*$gutter;
    margin-bottom: -4px;
    background-color: $lightgrey;
  }
}
