@import "config";

.buttons {
  text-align: center;
  padding: 2*$gutter;

  &__button {
    background-color: $lightgrey;
    height: 3*$gutter;
    border: 0 solid;
    padding: 0.5*$gutter 0.5*$gutter 0.5*$gutter 0.5*$gutter;
    margin: 0.5*$gutter 0.5*$gutter 0.5*$gutter 0.5*$gutter;
    font-family: $font-heading;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 10px;
    transition: background-color  300ms ease-in-out 0s;
  }

  &__button__selected {
      background-color: $lime;
      transition: background-color  300ms ease-in-out 0s;
    }
}

.lectures {

  &__title {
    font-family: $font-heading;
    font-weight: bold;
    font-size: 2rem;
    color: $black;
    text-decoration: none;
    padding-bottom: $gutter;
    padding-left: 0.5*$gutter;
    background-color: $lightgrey;
  }

  &__type {
    font-family: $font-heading;
    font-size: 1rem;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 0.5*$gutter;
    padding-left: 0.5*$gutter;
    background-color: $lightgrey;
  }

  &__thumbnail {
    background-color: $lightgrey;
    margin-top: 2*$gutter;
    margin-bottom: -4px;
  }
}
